@import "../../_general.scss";

.body--container {
  // border : $bt;
  @include flex;
  gap: $l;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: $xxxl;
  width: 50%;
  @include respond(phone) {
    width: 80%;
  }
  @include respond(tablet) {
    justify-content: center;
    width: 90%;
  }
}
.left {
  border: 1px solid red;
  // @include flex;
  // flex-direction: column;
  // align-items: flex-start;
  // justify-content: space-between;
  flex: 1;
  max-width: 471px;
  min-width: 471px;
  @include respond(phone) {
    min-width: 380px;
    max-width: 100%;
  }
}
.right {
  @include screen(1000px) {
    display: none;
  }
  flex: 0.6;
}
